body {
  font-family: Arial, sans-serif;
  background-color: #f4e3c1;
  color: #420071;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #420071;
}

h4 {
  color: green;
}

/* Container */
.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

/* Form Section  */
.section {
  margin-bottom: 20px;
  border: 2px solid #420071;
  background-color: #8dd1eb;
  padding: 20px 30px;
  position: relative;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* Address Section */
.address-row {
  display: block;
  margin-bottom: 15px;
  text-align: center;
}

.address-row label {
  display: block;
  margin-bottom: 5px;
}

.address-row input {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* Fieldset and Legend */
fieldset {
  position: relative;
  border: none;
  padding: 20px;
  text-align: left;
}

legend {
  position: absolute;
  top: -15px;
  right: -30px;
  background-color: white;
  padding: 0 5px;
  font-size: 16px;
  font-weight: bold;
  color: #4b0082;
  border: 2px solid black;
}

/* Labels */
label {
  flex: 1;
  font-weight: bold;
  margin-right: 10px;
}

label span {
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
  color: #d54d48;
}

/* Input Fields */
input {
  flex: 2;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  width: 200px;
  background-color: #ff4500;
  color: white;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e03d00;
}

/* Custom Colors */
.green-text {
  color: green;
}

.red-text {
  color: red;
}
